<div class="off-canvas-wrapper">
  <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

    <!-- off-canvas title bar for 'small' screen -->
    <div class="title-bar" data-responsive-toggle="widemenu" data-hide-for="medium">
      <div class="title-bar-left">
        <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>
        <span class="title-bar-title"><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></span>
      </div>
    </div>

    <!-- off-canvas left menu -->
    <div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>
      <ul class="vertical dropdown menu" data-dropdown-menu>
        {% for my_page in site.pages %}
          {% if my_page.title %}
            <li><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>

    <!-- "wider" top-bar menu for 'medium' and up -->
    <div id="widemenu" class="top-bar">
        <div class="row">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text"><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></li>
          <li><a href="https://personal-portfolio-chrissybranso.c9users.io/blog/">Blog</a></li>
          <li class="has-submenu">
            <a href="https://personal-portfolio-chrissybranso.c9users.io/blog/">Blog</a>
            <ul class="menu submenu vertical" data-submenu>
              <li><a href="https://personal-portfolio-chrissybranso.c9users.io/blog/archive/">Archive</a></li>
            </ul>
          </li>
          <li class="has-submenu">
            <a href="https://personal-portfolio-chrissybranso.c9users.io/examples/">Examples</a>
            <ul class="menu submenu vertical" data-submenu>
              <li><a href="https://personal-portfolio-chrissybranso.c9users.io/examples/orbit/">Orbit Slider</a></li>
              <li><a href="https://personal-portfolio-chrissybranso.c9users.io/examples/full-width-page/">Full Width Page</a></li>
              <li><a href="https://personal-portfolio-chrissybranso.c9users.io/examples/feature/">Feature Page</a></li>
              <li><a href="https://personal-portfolio-chrissybranso.c9users.io/examples/style/">Style Guide</a></li>
            </ul>
          </li>
        </ul>
      </div>
      </div>
    </div>
    <!--- LEAVE THIS UNCLOSED; OFF-CANVA WRAPPER SHOULD GO AROUND ALL CONTENT -->